/* main.css */
.main {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main .container {
    padding: 10px;
    height: 700px;
    margin: 0 35px 0 35px;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main #infoContainer {
    width: 300px;
    padding: 30px;
}

.main #calendarContainer {
    width: 750px;
    padding: 30px;
    display: flex;
    justify-content: center;
}

/* number input에서 화살표 없애기 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}