body {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body, html {
    height: 100%;
    overflow: hidden;
}

body {
    background: url("../jquery_image/bg.png");
    background-size: cover;
}

#sunWrapper {
    width: 780px;
    margin: 50px auto;
}

#controlWrapper {
    width: 300px;
    height: 420px;
    position: fixed;
    left: 0;
    bottom: 0;
}

.sun {
    height: 150px;
    margin-bottom: 50px;
    width: 800px;
    background: url("../jquery_image/sunban.png") no-repeat center bottom;
}

.sun li {
    float: left;
    width: 128px;
    height: 128px;
}

.money li {
    cursor: pointer;
}

.gun {
    width: 300px;
    height: 250px;
    background: url("../jquery_image/gun.png") no-repeat;
    cursor: pointer;
    text-indent: -999px; /* hide text */
}

.gun:active {
    background-position: bottom;
}

#msg {
    clear: both;
    position: absolute;
    left: 400px;
    top: 500px;
    width: 400px;
    height: 90px;
    line-height: 90px;
    font-size: 22px;
    border: 10px groove orange;
    text-align: center;
}