<!-- insertCategory.html -->
<script src="../../js/insertCategoryForm.js"></script>
<div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="categoryModalLabel">카테고리 추가</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="categoryForm">
                    <div class="mb-3 row">
                        <div class="col-md-7">
                            <label for="addName" class="form-label">카테고리 이름</label>
                            <input type="text" class="form-control" id="addName" name="name" required>
                        </div>
                        <div class="col-md-5">
                            <label for="addCategoryType" class="form-label">유형</label>
                            <select class="form-select" id="addCategoryType" name="categoryType">
                                <option value="income" selected>수입</option>
                                <option value="expense">지출</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div id="categoryListDiv">
                    <ul id="categoryList" class="list-group"></ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="submit" class="btn btn-primary" form="categoryForm">추가</button>
            </div>
        </div>
    </div>
</div>